@media (min-width: 300px) and (max-width: 400px) {
  .fs-48 {
    font-size: 25px;
  }
  .gap-40 {
    gap: 22px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .pt-10 {
    padding-top: 5px;
  }
  .pb-10 {
    padding-bottom: 5px;
  }
  .pr-30 {
    padding-right: 10px;
  }
  .pl-30 {
    padding-left: 10px;
  }
  .align-item-3 {
    justify-content: center;
  }
  .max-w-300 {
    max-width: 250px;
  }
  .mt-50 {
    margin-top: 20px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 25px;
  }
  .max-w-1200 {
    max-width: 280px;
  }
  .max-w-1400{max-width: 1400px;}
  .t-align-footer{text-align: center;}
}
@media (min-width: 400px) and (max-width: 500px) {
  .fs-48 {
    font-size: 27px;
  }
  .gap-40 {
    gap: 25px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .pt-10 {
    padding-top: 5px;
  }
  .pb-10 {
    padding-bottom: 5px;
  }
  .pr-30 {
    padding-right: 10px;
  }
  .pl-30 {
    padding-left: 10px;
  }
  .align-item-3 {
    justify-content: center;
  }
  .mt-50 {
    margin-top: 23px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 28px;
  }
  .max-w-1200 {
    max-width: 370px;
  }
  .max-w-1400{max-width: 400px;}
  .t-align-footer{text-align: center;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 500px) and (max-width: 600px) {
  .fs-48 {
    font-size: 29px;
  }
  .gap-40 {
    gap: 20px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pr-30 {
    padding-right: 15px;
  }
  .pl-30 {
    padding-left: 15px;
  }
  .align-item-3 {
    justify-content: center;
  }
  .mt-50 {
    margin-top: 25px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 30px;
  }
  .max-w-1200 {
    max-width: 450px;
  }
  .max-w-1400{max-width: 500px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 600px) and (max-width: 700px) {
  .fs-48 {
    font-size: 30px;
  }
  .gap-40 {
    gap: 25px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pr-30 {
    padding-right: 15px;
  }
  .pl-30 {
    padding-left: 15px;
  }
  .align-item-3 {
    justify-content: center;
  }
  .mt-50 {
    margin-top: 27px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 30px;
  }
  .max-w-1200 {
    max-width: 580px;
  }
  .max-w-1400{max-width: 600px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 700px) and (max-width: 800px) {
  .fs-48 {
    font-size: 31px;
  }
  .gap-40 {
    gap: 35px;
  }
  .mt-50 {
    margin-top: 30px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 32px;
  }
  .max-w-1200 {
    max-width: 650px;
  }
  .max-w-1400{max-width: 700px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}

@media (min-width: 800px) and (max-width: 900px) {
  .fs-48 {
    font-size: 32px;
  }
  .gap-40 {
    gap: 38px;
  }
  .mt-50 {
    margin-top: 33px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .max-w-1200 {
    max-width: 780px;
  }
  .max-w-1400{max-width: 800px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}

}
@media (min-width: 900px) and (max-width: 1000px) {
  .fs-48 {
    font-size: 35px;
  }

  .gap-40 {
    gap: 40px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .max-w-1200 {
    max-width: 850px;
  }
  .max-w-1400{max-width: 900px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .fs-48 {
    font-size: 35px;
  }

  .gap-40 {
    gap: 40px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .max-w-1200 {
    max-width: 900px;
  }
  .max-w-1400{max-width: 1000px;}
  .ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .fs-48 {
    font-size: 38px;
  }
  .gap-40 {
    gap: 40px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .max-w-1200 {
    max-width: 1000px;
  }
  .max-w-1400{max-width: 1100px;}
      .max-w-1150 {
  max-width: 1000px;
}
.ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .fs-48 {
    font-size: 40px;
  }
  .gap-40 {
    gap: 40px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .max-w-1200 {
    max-width: 1100px;
  }
  .max-w-1400{max-width: 1200px;}
    .max-w-1150 {
  max-width: 1000px;
}
.ml-200{margin-left: none;}
.ml-150{margin-left: none;}
}
@media (min-width: 1300px) and (max-width: 1400px) {
  .fs-48 {
    font-size: 42px;
  }
  .gap-40 {
    gap: 40px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .max-w-400 {
    max-width: 800px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  .max-w-1200 {
    max-width: 1200px;
  }
  .max-w-1400{max-width: 1300px;}
  .max-w-1150 {
  max-width: 1000px;
}
.ml-200{margin-left: none;}
.ml-150{margin-left: none;}
  
}
@media (min-width:1400px) and (max-width:2400px) {
  .ml-200{margin-left: 200px;}
.ml-150{margin-left: -150px;}
  
}
